:root {
    --cor-primaria: rgba(255, 255, 0, 0.808);
    --cor-fundo: rgb(226, 76, 76);
}

/* Elementos base */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #FFF;
    background-color: var(--cor-fundo);
    font-family: 'Arial', Times, serif;
}

header .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    margin-left: 10px;
    color: var(--cor-primaria);
    font-family: "Arial Black", Times;
    font-size: 40px;
}

header nav a {
    text-decoration: none;
    color: #AAA;
    margin-right: 10px;
}

header nav a:hover {
    color: #FFF;
}


/* canal principal */
.canal-principal {
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.50), rgba(0,0,0,100)), url('/img/capa.webp'); 
    height: 400px;
    margin: 0 20%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.canal-principal .titulo {
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.canal-principal  .descricao {
    margin-top: 15px;
    margin-bottom: 40px;
}


.canal-principal .botao {
    background-color: rgba(0,0,0, .50);
    color: #FFF;
    border: none;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    text-decoration: none;
}

.canal-principal .botao i {
    margin-right: 8px;
}

.canal-principal .botao:hover {
    background-color: #FFF;
    color: #000;
}

.container {
    margin-left: 20px;
}

.canal-principal .container {
    width: 70%;
}